/* nav_bar.php */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700italic,400italic);

.main_container .top_nav {
    display: block;
    margin-left: 0px;
}
.nav_menu {
  background: #014C83;
  position: fixed;
z-index: 10;
}
  /* height: 48px; */
}
.nav_title {
  border: 0;
  background: #014C83;
  /* height: 46px; */
}

.nav>li {
    border-left: 1px solid #ffffff;
    height: 55px;
}
.nav>li>a {
    color: #ffffff;
    padding: 18px 15px 18px;

}
/* index.php */
.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 0px;
    background-color: #ffffff;
    min-height: 1063px;
}


.tile-stats {
text-align: center;
background-color: #E8E8E8;
border-radius: 0px;
border: 1px solid #cfc5c5;
padding: 18px 10px;
color: #2B3740;
}
.tile-stats .count {
  font-size: 20px;
  line-height:1;
  color: #2B3740;
}
.input-group-front{
  border: 1px solid #ced4da;
  padding:5px 10px;
  margin-bottom: 10px;
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

/* .input-group1 {
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    background: linear-gradient(to right, #d2d3d3, #ffffff);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
} */
a.user-profile {
    color: #ffffff !important;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
}
a.user-profile p.designattion {
    color: #ffffff !important;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 14px;
}
a.user-profile span.user-name {
    color: #ffffff !important;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 16px;
}
.tile-stats>h2{
  font-size: 14px;
  /* font-weight: 600; */
  font-family: fantasy;
  letter-spacing: 1px;
}

body.nav-md {
    background: #ffffff;
}
.login {
    background: #005593;
}
.login_wrapper {
    max-width: 450px;
}
.btn-login {
    color: #fff;
    background-color: #005593;
    border-color: #005593;
}
.btn-login:hover {
    color: #fff;
}

.btn-gray {
    color: #959ba0;
    background-color: #D8DCE0;
    border-color: #D8DCE0;
}
.btn-gray:hover {
    color: #fff;
    background-color: #D8DCE0;
}

.btn-add {
    background: url(../../images/addnew-icon.png) no-repeat left center #023b62;
    background-position: -10px;
    color: #fff;
    background-color: #005593;
    border-color: #005593;
    padding-left: 31px;
}
.btn-add:hover {
    color: #fff;
}
.btn-tableadd {
    background: url(../../images/addnew-icon.png) no-repeat left center #023b62;
    background-color: #025a99;
    background-position: 8px;
    background-repeat: no-repeat;
    border: none;
    padding: 5px 8px 5px 26.7px;
    border-radius: 5px;
    color: #FFF !important;
}
.btn-tableadd:hover {
    color: #fff;
}
.heading>h1>img {
    padding: 0px 10px;
    color: #2B3740;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 0.8;
    font-weight: normal;
}
.heading>h1{
  color: #2B3740;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

.heading>h1>span{
  color: #2B3740;
  font-weight: 600;
}
.setting .backbtn a {

    background: url(../../images/back.png) no-repeat #2b3740;
    padding: 30px;
    border: none;
    border-radius: 0 !important;
    float: left;
    margin-bottom: 10px;
}
.setting .printbtn a {
   font-family: 'Roboto Condensed', Helvetica, sans-serif;
   background: url(../../images/print.png) no-repeat #536069 center;
   padding: 30px 30px 11px 30px;
   border: none;
   border-radius: 0 !important;
   float: left;
   margin-bottom: 10px;
}
.setting .subtext {
background: url(../../images/subtext_bg.jpg) repeat-y left;
padding: 10px 20px;
height: 60px;
width: 300px;
border: none;
border-radius: 0 !important;
float: left;
margin-bottom: 10px;
}

 .setting .subtext h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    color: #333;
    text-align: left;
    padding: 0px;
    line-height: 1;
}

.setting .subtext2 {
background: url(../../images/subtext_bg.jpg) repeat-y left;
padding: 0px 20px;
height: 60px;
width: 300px;
border: none;
border-radius: 0 !important;
float: left;
margin-bottom: 10px;
}

 .setting .subtext2 h2 {
 font-weight: bold;
 font-style: italic;
 font-size: 24px;
 color: #333;
 text-align: left;
 padding: 0px 0px 0px 20px
 margin-top: 10px;
 line-height: 0.8;
}

.setting .subtext2 h2 span {
    font-size: 15px;
    color: #666;
}
.setting .excelbtn button {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  background: url(../../images/excel.png) no-repeat #798389 center;
  padding: 19px 30px 22px 30px;
  border: none;
  border-radius: 0 !important;
  float: left;
  margin-right: 0px;

}
.mail_heading h4 {
    font-size: 17px;
    border-bottom: none;
    padding-bottom: 5px;
    margin-top: -10px;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    color: #2b3740;
    font-weight: 400;

}
.setting {
    border-top: 1px solid #005593;
}
.mail_list_column {
    border-left: none;
    margin-top: 60px;
    display: block;
}
.mail_view {
    border-left: 1px solid #005593;
    margin-top: 60px;
    min-height: 650px;
}
.sale-form .x_content{
  padding:10px 20px 10px 20px;
}
/* .page-footer {
    background: #fff;
    left: 250px;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
    z-index: 3;
} */
.con_view{
  margin-top: 60px;
}
/* ----SEARCH  ---*/
.nav_title {
    width: 235px;

}

        #form-wizard {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        .form-step {
            display: none;
        }

        .form-step.active {
            display: block;
        }


        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
        }

        button:hover {
            background-color: none;
        }

        .step-indicator {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .step-indicator div {
            width: 30px;
            height: 30px;
            background-color: #ddd;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #555;
        }

        .step-indicator div.active {
            background-color: #007BFF;
            color: #fff;
        }

  .wizard_horizontal>ul.wizard_steps>li>a .step_no {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 0px;
    display: block;
    margin: 0 auto 5px;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
        font-size: 35px;
      background-color: #025894;
          font-family: fantasy;
}

.wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #2B3740;
    color: #fff;
}
.wizard_horizontal ul.wizard_steps li:first-child a:before {
    left: 100%;
}
.wizard_horizontal ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ccc;
    top: 20px;
    width: 0%;
    z-index: 4;
    left: 0;
}
.wizard_horizontal ul.wizard_steps li:last-child a:before {
    right: 0%;
   width: 0%;
    left: auto;
}
.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {

    color: #666;
}

.wizard_horizontal ul.wizard_steps {

    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 7px 0px;

}
.centered-text {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(50%, -50%);
  font-size: 17px;
  width: 170px;

}
.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
    background: #A5AEB5;
}
.form-control-feedback.left {
    /* border-right: 1px solid #ccc; */
    /* left: 13px; */
    background: none repeat scroll 0 0 #ccc;
    border: 1px solid #ccc;
    color: #444444;
    display: block;
    float: left;
    font-weight: 700;
    margin: 0;
    /* font-size: 12px; */
    padding: 9px;
}
.form-control-feedback {
    position: absolute;
    margin-top: 8px;
    height: 38px;
    color: #bbb;
    /* line-height: 24px; */
    font-size: 15px;
    top: 0px;
    width: 54px;
    text-align: center;
}
.form-control-feedback.left {
    border-right: 1px solid #ccc;
    left: 10px;
}

.input-group {
    border:none;
    padding: 0px 0px;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    /* background-color: #e9ecef; */
    border: 1px solid #ced4da;
    border-radius: 0rem;
    background:none repeat scroll 0 0 #CCC;
    font-size: 12px;
}
.input-group-prepend{
  background-color: #ccc;
}
.wizard_horizontal ul.wizard_steps li {
    display: table-cell;
    text-align: left;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #025894;
    font-weight: 600;

}
.tab-text li a {
    color: #000000;
}
.wizard_horizontal ul.wizard_steps li a .step_no.step-active {
    background: #2B3740;
    color: #fff;
}
.right-align{
  text-align: right;
}
.left-align{
  text-align: left;
}
.left-align a{
  color: #ffffff;
}
.form-group .plus-top{
  margin-top: 26px;
}

/* Table */
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: right;
}
.table-bordered {
    border: none;
}

.btn-group, .btn-group-vertical {
    background-color: #e1e1e1;
        margin-bottom: 5px;

}

.btn-group, .btn-group-vertical:hover {
    background-color: #cccccc;
}
.pull-right {
    float: right;
    width: 100%;
    text-align: right;
    border-top: 1px solid #ccc;
    margin-top: 10px;


}
/* .footer-pull-right {
    float: right;
    width: 100%;
    text-align: right;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

} */
.btn-view {
    background: url(../../images/show-icon.png) no-repeat left center #023b62;
    color: #fff;
    background-color: #005593;
    border-color: #005593;
    padding-left: 30px;
    background-position: 6px;
}
.btn-view:hover {
    color: #fff;
    background-color: #01376a;
}
.btn-payments {
    background: url(../../images/show-list-icon.png) no-repeat left center #023b62;
    color: #fff;
    background-color: #005593;
    border-color: #005593;
    padding-left: 21.5px;
  background-position: 4px;
  letter-spacing: .0px;
}
.btn-payments:hover {
    color: #fff;
    background-color: #01376a;
}.table td, .table th {
    padding: 0.25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
/* .btn-edit {
    background: url(../../images/edit-icon.png) no-repeat left center #023b62;
    color: #fff;
    background-color: #005593;
    border-color: #005593;
    padding-left: 21.5px;
  background-position: 4px;
  letter-spacing: .0px;
} */
.btn-edit {
background: url(../../images/edit-icon.png) no-repeat left center #023b62;
background-color: #025a99;
background-position: 8px;
background-repeat: no-repeat;
border: none;
padding: 4px 12px 4px 27px;
border-radius: 5px;
color: #FFF !important;
}
.btn-edit:hover {
    color: #fff;
    background-color: #01376a;
  }

  .btn-delete {
      background: url(../../images/delete-icon.png) no-repeat left center #023b62;
      color: #fff;
      background-color: #005593;
      border-color: #005593;
      padding-left: 30px;
      background-position: 6px;
  }
  .btn-delete:hover {
      color: #fff;
      background-color: #01376a;
  }
.form-control {
    font-size: 12px;
}
.form-horizontal .control-label1 {
    padding: 15px 0px 5px 8px;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    font-size: 21px;
    font-style: italic;
    color: #ccc;
}
.top_nav .navbar-right {
    margin-top: 9px;
    margin-bottom: 5px;
    width: auto;
    float: right;
}
.dropdown-toggle::after {
    /* margin-left: 15px; */
}
.btn-print{
      color: #fff;
      background-color: #005593;
      border-color: #005593;
  }
  .btn-print:hover {
      color: #fff;
      background-color: #01376a;
  }
  .btn-tbview {
      background: url(../../images/show-icon.png) no-repeat left center #023b62;
      color: #fff;
      background-color: #005593;
      border-color: #005593;
      padding-left: 28px;
      background-position: 6px;
  }
  .btn-tbview:hover {
      color: #fff;
      background-color: #01376a;
  }
  .btn-tbedit {
      background: url(../../images/edit-icon.png) no-repeat left center #023b62;
      color: #fff;
      background-color: #005593;
      border-color: #005593;
      padding-left: 28px;
      background-position: 6px;
  }
  .btn-tbedit:hover {
      color: #fff;
      background-color: #01376a;
  }
.print-right{
    float: right;
}
.badge {

    color: #ffffff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active-project {
    color: #ffffff;
    font-weight: 600;
    background-color: #025894;
}

.input-group-append{
  background-color: #ccc;
}
.custom-file-label-upload {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Media query for screens smaller than 768px (adjust the breakpoint as needed) */
@media (max-width: 480px) {
  .mail_list_column {
    display: none; /* Hide the element on smaller screens */
  }
  .mail_view {
      border-left: none;
      margin-top: 60px;
      min-height: 650px;
  }
}

@media (max-width: 991px) {
  .mail_list_column {
    display: none; /* Hide the element on smaller screens */
  }
  .nav-tabs .nav-item {
      margin-bottom: 17px;
  }
  .tab-content>.active {
    display: block;
    margin-top: 35px;
}
.mail_view {
    border-left: none;
    margin-top: 60px;
    min-height: 650px;
}

 }

@media (max-width: 1200px) {
  .nav-tabs .nav-item {
      margin-bottom: 17px;
  }
  .tab-content>.active {
    display: block;
    margin-top: 35px;
}
.mail_view {
    border-left: none;
    margin-top: 60px;
    min-height: 650px;
}
 }

@media (max-width: 1270px) and (min-width: 192px) {
  .nav-tabs .nav-item {
      margin-bottom: 17px;
  }
  .tab-content>.active {
    display: block;
    margin-top: 35px;
}
.mail_view {
    border-left: none;
    margin-top: 60px;
    min-height: 650px;
}
 }
.mail_list_column>h3{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  color: #333333;
}
.mail_list_column>h2{
  font-size: 15px;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  color: #333333;
  margin-top: -5px;
}
.mail_list_column>p{
  font-size: 12px;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  color: #000000;
  text-align: justify;
  margin-bottom: 0rem;
}


/*SIDE BAR TAB */
.sidenav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.sidenav-tabs {
    border-bottom: 1px solid #dee2e6;
}




ul.bar_sidetabs {
    overflow: visible;
    background: none;
    height: 25px;
    margin: 10px 0px 10px 0px;
    padding-left: 0px;
    position: relative;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #E6E9ED
}
ul.bar_sidetabs>li {
    color: #333 !important;
    margin-top: -17px;
    margin-left: 0px;
    background: none;
    border-bottom: none;
    border-radius: 0px 0px 0 0;
    border:1px solid #ccc;
    height: 35px;
}

ul.bar_sidetabs>li.active {
    border-right: 6px solid #D3D6DA;
    border-top: 0;
    margin-top: -15px
}

ul.bar_sidetabs>li a {
    padding: 7px 7px;
    background: #CCC;
    margin: 0;
    border-top-right-radius: 0
}

ul.bar_sidetabs>li a:hover {
    border: 1px solid transparent
}

ul.bar_sidetabs>li.active a {
    border-bottom: none
}

ul.bar_sidetabs.right {
    padding-right: 14px
}

ul.bar_sidetabs.right li {
    float: right
}

a:focus {
    outline: none
}

link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.sidenav-tabs .sidenav-item.show .sidenav-link, .sidenav-tabs .sidenav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #025A99;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #025A99;
}
.btn-side {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-sidegroup-sm>.sidebtn, .btn-sidesm {
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.2rem;
}
/*.btn-group>.btn .active{
  background-color: #000000;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus {
    z-index: 1;
      background-color: #000000;
} */

/* Style tab links */
.dropdown-menu {
    color: #ffffff;
    background-color: #014C83;
    margin-top: -2px;

}

.dropdown-item {
    color: #ffffff;
}
.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #014C83;
    margin-top: 6px;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px;
}
h1.breadcrums{
  font-weight: 400;
}
.top_nav ul li a{
    font-size: 14px;
}
.btn-add .btn-font{
      font-size: 12px;
}
p.sidebsr-list{
  margin-bottom: -1px;
}
p.sidelist span{
  font-weight: 300;
  color: #000000;
}
p.sidelist .btn-bold{
  font-weight: 500;
}
.display-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.color-red{
  color: #dc3545;
}
.color-green{
  color: #28a745;
}
.color-blue{
  color: #17a2b8;
}
hr.sidebarhr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.mail_view_report {
    border: 1px solid #005593;
    margin-top: 60px;
    min-height: 650px;
}
.reportbar {
    padding: 5px 25px 5px 25px;

    font-weight: bold;
    font-size: 24px;
    color: #FFF;
    background: #022b4e;
}
.reportbar h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    color: #FFF;
    text-align: left;
    padding: 5px 0px;
    border-bottom: 1px solid #FFF;
    line-height: 1;
    margin-bottom: 2px;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
}
.reportbar .back a {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    color: #FFF;
    background: url(../../images/back-icon.png) no-repeat left center;
    padding: 5px 10px 5px 25px;
}
.reportbar .print a {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    color: #FFF;
    background: url(../../images/print-color-icon.png) no-repeat left center;
    padding: 5px 10px 5px 25px;
}
 .reportbar .excel #exportexcel {
    border: none;
    background-color: #022b4e;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: #FFF;
    cursor: pointer;
    background: url(../../images/excel-icon.png) no-repeat left center;
    padding: 5px 10px 5px 25px;
}
table.jambo_table thead {
    background: #DDDDDD;
  color: #000000;
}
.form-group-report{
    margin-bottom: 4px;
}
input.report {
    width: 100%;
    padding: 8px;
    margin-bottom: 4px;
    box-sizing: border-box;
}
.btn-filter {
    color: #fff;
    background-color: #13446F;
    border-color: #13446F;
}
.btn-filter:hover {
    color: #fff;
    background-color: #025A99;
}
span.search-title {
    font-family: 'Roboto Condensed', Helvetica, sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-style: normal !important;
    color: #666 !important;
    padding-right: 10px;
}
table.jambo_table tfoot {
    background: #c3c0c0;
    color: #000000;
}
table.jambo_table thead .record-underline {
    background: #DDDDDD;
    color: #000000;
    text-decoration: underline;
    text-decoration-style: double;
}
.form-group-report-filter {
    margin-bottom: 15px;
}
 .setting .heading .printbtn a {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    background: url(../../images/print.png) no-repeat #536069 center;
    padding: 21px 32px 22px;
    border: none;
    border-radius: 0 !important;
    float: left;
}
/* .form-group .file-upload-default {
    visibility: hidden;
    position: absolute;
} */
.custom-file-label-upload2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.98em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* .form-control1 {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */
.custom-file1 {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.custom-file1 input[type="file"] {
  /* position: absolute;
  opacity: 0; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  border:1px solid #ccc;
}

.form-control1 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #444444
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fffc;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 0px;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

@media (prefers-reduced-motion:reduce) {
    .form-control1 {
        transition: none
    }
}

.form-control1[type=file] {
    overflow: hidden;
}

.form-control1[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control1:focus {
    color: #444444;
    background-color: #ffffff;
    border-color: #86b7fe;
    outline: 0;
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) */
}

.form-control1::-webkit-date-and-time-value {
    min-width: 85px;
    height: 1.5em;
    margin: 0
}

.form-control1::-webkit-datetime-edit {
    display: block;
    padding: 0
}

.form-control1::-moz-placeholder {
    color: #444444;
    opacity: 1
}

.form-control1::placeholder {
    color: #444444;
    opacity: 1
}

.form-control1:disabled {
    background-color: #ccc;
    opacity: 1
}

.form-control1::-webkit-file-upload-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end:.75rem;
    color: #444444;
    background-color: #000000;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width:var(--bs-border-width);border-radius: 0;
    /* -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out */
}

.form-control1::file-selector-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end:.75rem;
    color: #444444;
    /* background-color: var(--bs-tertiary-bg); */
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    background-color:#ccc;
    color: #444444;
    /* border-inline-end-width:var(--bs-border-width);border-radius: 0; */
    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out */
}
.form-group .row .searchbox {
    padding: 15px 17px 15px 72px;
    margin-bottom: 13px;
    border: 1px solid #CCC;
    background: url(../../images/searchbox.jpg) left center no-repeat #FFF;
    color: #333;
}

@media (prefers-reduced-motion:reduce) {
    .form-control1::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }

    .form-control1::file-selector-button {
        transition: none
    }
}

.form-control1:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #fff;
}

.form-control1:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color:  #a7a7a7;
}
