/* nav_bar.php */
.main_container .top_nav {
    display: block;
    margin-left: 0px;
}
.nav_menu {
  background: #13446f;
  /* height: 48px; */
}
.nav_title {
  border: 0;
  background: #13446f;
  /* height: 46px; */
}

.nav>li {
    border-left: 1px solid #ffffff;
    height: 55px;
}
.nav>li>a {
    color: #ffffff;
    padding: 18px 15px 12px;

}
/* index.php */
.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 0px;
    background-color: #ffffff;
    min-height: 1063px;
}
.tile-stats {
text-align: center;
background-color: #E8E8E8;
border-radius: 0px;
border: 1px solid #cfc5c5;
padding: 18px 10px;
color: #2B3740;
}
.tile-stats .count {
  font-size: 20px;
  line-height:1;
  color: #2B3740;
}
.input-group{
  border: 1px solid #ced4da;
  padding:5px 10px;
}

/* .input-group1 {
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    background: linear-gradient(to right, #d2d3d3, #ffffff);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
} */
a.user-profile {
    color: #ffffff !important;
}
.tile-stats>h2{
  font-size: 14px;
  /* font-weight: 600; */
  font-family: fantasy;
  letter-spacing: 1px;
}

body.nav-md {
    background: #005593;
}
.login {
    background: #005593;
}
.login_wrapper {
    max-width: 450px;
}
.btn-login {
    color: #fff;
    background-color: #005593;
    border-color: #005593;
}
.btn-login:hover {
    color: #fff;
}
.heading>h1>img {
    padding: 0px 10px;
    color: #2B3740;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 0.8;
    font-weight: normal;
}
.heading>h1{
  color: #2B3740;
}

.heading>h1>span{
  color: #2B3740;
  font-weight: 600;
}
.setting .backbtn a {

    background: url(../../images/back.png) no-repeat #2b3740;
    padding: 30px;
    border: none;
    border-radius: 0 !important;
    float: left;
    margin-bottom: 10px;
}
.setting .subtext {
background: url(../../images/subtext_bg.jpg) repeat-y left;
padding: 10px 20px;
height: 60px;
width: 300px;
border: none;
border-radius: 0 !important;
float: left;
margin-bottom: 10px;
}
.mail_heading h4 {
    font-size: 18px;
    border-bottom: none;
    padding-bottom: 5px;
    margin-top: 5px;
}
.setting {
    border-top: 1px solid #005593;
}
.mail_list_column {
    border-left: none;
}
.mail_view {
    border-left: 1px solid #005593;
}
.sale-form .x_content{
  padding:10px 20px 10px 20px;
}

.searchable-dropdown {
    position: relative;
    display: inline-block;
}

.search-box {
    width: 200px;
    padding: 8px;
    font-size: 16px;
}



.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-list li {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f1f1f1;
}
